<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <node pkg="tf" type="static_transform_publisher" name="demo_link_broadcaster" args="0 0 1 3.1415926 0 3.1415926 laser grab_raw_laser 100" /> <!--the x axis of grab_raw_laser stand for the the first raw laser data-->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
</launch>
